<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @balance.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @balance.amount %>
</p>

<p>
  <strong>Account:</strong>
  <%= @balance.account %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Back', balances_path %>
