<p id="notice"><%= notice %></p>

<h1>Поступления </h1>

<%= link_to 'Добавить поступление', new_receipt_path, class: 'btn btn_a right' %>

<table class="ttable">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Сумма</th>
      <th>Счет</th>
      <th>Категория</th>
      <th>Комментарий</th>
      <th class="td_edit_delete"> </th>
    </tr>
  </thead>

  <tbody>
    <% total = 0 %>
    <% @receipts.each do |receipt| %>
      <% total = total + receipt.amount %>
      <tr>
        <td><%= receipt.date.try('strftime',"%d.%m.%Y")  %></td>
        <td class="td_right"><%= receipt.amount.to_sum %></td>
        <td><%= receipt.account_name %></td>
        <td><%= receipt.receipt_type_name %></td>
        <td><%= receipt.comment %></td>
        <%= tool_icons(receipt) %>
      </tr>
    <% end %>

    <tr class='total'>
        <td>Итого:</td>
        <td class="td_right"><%= total.to_sum %></td>
        <td colspan="4"></td>
      </tr>
  </tbody>
</table>

<br>

